/* polices */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




/* variable */

$police-titre: 'Shrikhand', cursive;
$police-default: 'Roboto', sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$border: 1px solid black;
$green: #99e2d0;


/* contenu de la page */

body {
    margin: 0;
}

.wrapper {
    font-family: $police-default;
    width: 100%;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
}

header h1 {
    text-align: center;
    font-family: $police-titre;
    font-size: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 40px 0 40px 0px;
    width: 100%;

    &-fonct {
        width: 100%;
        margin-top: 0;

        h1 {
            padding: 5%;
        }
    }

    &_explorer {
        margin-top: 0;
        margin-bottom: 0;
    }

}

.localisation {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #cecece;
    padding: 10px 0 10px 0;

    p {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 130px;
        padding: 10px;
        font-weight: bold;
        font-family: 'Roboto', Arial;
    }
}

.explorer {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: #f1f1f1;

    h1 {
        font-size: 1.5em;
        width: 60%;
        text-align: center;
        margin: auto;
        margin-top: 40px;
    }

    p {
        margin: 10px auto 20px auto;
        width: 70%;
    }

    .btn {
        width: 200px;
        margin: 10px auto 50px auto;
        padding: 15px;
        background: linear-gradient($color-secondary, $color-primary);
        border-radius: 20px;
        box-shadow: 3px 3px 3px #f1f1f1;
        color: white;
        font-size: 1em;

        &:hover {
            cursor: pointer;
        }
    }
}



.fonct {
    display: flex;
    flex-direction: column;

    &-choice {
        text-align: center;
        display: flex;
        margin: auto;
        width: 75%;
        justify-content: space-between;
        background-color: #f1f1f1;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 6px rgb(201, 191, 191);
        padding-right: 75px;
        padding: 10px 75px 10px 0px;
        align-items: center;


        p {
            margin-left: 20px;
            width: 180px;
            font-weight: bold;
        }

        :hover {
            cursor: pointer;
            background-color: #eeebf1;
        }

        &-number {
            background-color: $color-primary;
            border-radius: 12px;
            padding: 3px 8px 3px 8px;
            position: relative;
            right: 5px;
            height: fit-content;
            color: white;
            font-size: 0.9em;
            margin-right: 20px;
        }

    }

}


.fa-mobile-screen-button,
.fa-bars,
.fa-store {
    color: grey;
    font-size: 1.2em;

    &:hover {
        color: $color-primary;
    }
}



.resto {

    margin: 0%;
    font-size: 0.9em;
    background-color: #f1f1f1;
    width: 90%;
    padding: 5%;
    padding-top: 50px;
    padding-bottom: 40px;

    h1 {
        margin: 0;
        font-size: 1.7em;

    }

}

figure {
    margin: 0;
    width: 100%;

    a {
        color: black;
        text-decoration: none;
        height: fit-content
    }

    img {
        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        position: relative;
    }

    figcaption {
        background-color: white;
        display: flex;
        flex-direction: row;
        padding: 20px;
        border-radius: 0px 0px 20px 20px;
        justify-content: space-between;
    }
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 0;

    &-text {
        font-size: 0.8em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
    }

    &-new {
        margin-bottom: 0%;
    }

    .new {
        display: inline-block;
        background-color: #99E2D0;
        width: fit-content;
        padding: 5px 10px 5px 10px;
        position: relative;
        top: 40px;
        left: 73%;
        font-weight: bold;
        color: #027a5c;
        z-index: 1;
    }

    h1 {
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 1.4em;
    }

    .fa-solid {
        width: 50px;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        text-shadow: 0px 0px 0px black;
        transition: all 800ms ease-in-out;
        font-weight: lighter;
        cursor: pointer;
        z-index: 1;
        position: relative;



        &:active {
            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }

        }

        &::before {
            transition: opacity 800ms ease-in-out;
        }


        &::after {
            content: "\f004";
            color: $color-primary;
            opacity: 0;
            font-weight: bold;
            position: absolute;
            top: 10px;
            bottom: 0;
            right: 0;
            left: 10px;
            z-index: -1;
            transition: opacity 1000ms ease 800ms;
        }
    }
}







footer {
    background-color: rgb(53, 52, 52);
    color: white;
    padding: 25px;
    margin: 0;

    h1 {
        color: white;
        font-family: $police-titre;
        font-weight: normal;
        height: 0px;
        font-size: 1.5em;
    }

    a {
        text-decoration: none;
        color: white;
        height: 35px;
    }
}

.bloc-footer {
    display: flex;
    flex-direction: column;
}

.fa-utensils,
.fa-handshake-angle {
    width: 30px;
}



/* card */


.header_carte {
    display: flex;
    margin-bottom: 10px;
    height: 60px;
    padding-left: 20px;
    width: 80%;
    justify-content: space-between;

    h1 {
        margin: auto;
    }

    a {
        padding-top: 15px;
        font-size: 1.6em;
        color: black;
    }
}


.background-img {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    z-index: 0;
}


.carte {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 40px;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    width: 100%;
    padding-bottom: 50px;

    &_titre {
        display: flex;
        margin: auto auto auto 20px;
        width: 85%;

        h1 {
            margin-left: 0;
            font-size: 2em;
            font-family: $police-titre;
        }

        i {
            margin: auto;
            margin-right: 0;
            font-size: 1.8em;
        }
    }

    &_plat {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

    }

}


.container_carte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    padding-left: 20px;
    margin-bottom: 30px;

    a {
        color: black;
        text-decoration: none;
    }

    p {
        font-size: 1em;
        font-weight: normal;
    }

    i {
        font-size: 2em;
        margin: 0;
    }

    h1 {
        font-weight: normal;
        font-size: 1.3em;
        height: 10px;

    }
}

.barre_verte {
    height: 2px;
    background-color: $green;
    width: 50px;
    margin-bottom: 20px;
}

.plats {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10px;

    h3 {
        margin: 0 0 10px 0;
    }

    p {
        margin: 0;
        font-size: 1em;
    }
}


.btn {
    margin: auto;
    background: linear-gradient(darken($color-secondary, 10), darken($color-primary, 10));
    padding: 5px 50px 5px 50px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    transition: 400ms ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 1.2;
    }
}



.plat_bandeau {
    width: 30%;
    display: inline-block;
    background: $green;
    border-radius: 0px 20px 20px 0px;
    transform: scaleX(0);
    transition: transform 2000ms;
    transform-origin: right;
    height: 60px;

    .fa-circle-check {
        display: block;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        transition: all 2000ms ease-in-out;
    }

}



/* TEST  */


@keyframes anim_haut {
    0% {
        opacity: 0.1;
        transform: translateY(100px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.anim--1 {
    animation: anim_haut 800ms ease-in-out 200ms;
}

.anim--2 {
    animation: anim_haut 800ms ease-in-out 600ms;
}

.anim--3 {
    animation: anim_haut 800ms ease-in-out 1000ms;
}




.container_plat {

    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
    box-shadow: 3px 2px 6px grey;
    width: 95%;
    padding-left: 15px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 30px;


    a {
        color: black;
        text-decoration: none;
        width: 100%;
        height: 0px;
        transition: transform 400ms ease-in-out;
        transform-origin: left;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            white-space: nowrap;
            font-size: 1.2em;
            width: 100%;
            overflow: hidden;

        }

        p {
            overflow: hidden;
            white-space: nowrap;
            font-size: 0.9em;
            text-overflow: ellipsis;
        }
    }

    &:hover>a>.price {
        transform: translateX(-50px);
    }

    &:hover>.plat_bandeau {
        transform: scaleX(1);

        &>.fa-solid {
            transform: rotate(0deg);
        }
    }

}

.plat_bandeau {
    background: #99E2D0;
    height: 80px;
    width: 20%;
    border-radius: 0px 20px 20px 0px;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
    transform-origin: right;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .fa-solid {
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
        color: white;
        transform: rotate(-480deg);
        transition: transform 400ms ease-in-out;

    }
}

.plat_description {
    text-overflow: ellipsis'...';
    overflow: hidden;
    z-index: -1;
}


.price {
    font-weight: bold;
    font-size: 1em;
    justify-content: end;
    height: 59px;
    display: flex;
    align-items: flex-end;
    transform: translateX(20px);
    transition: all 400ms ease-in-out;
}


/* breakpoint Tablette / Desktop */

@media screen and (min-width:768px) {


    .container-fonct {
        h1 {
            text-align: center;
        }

        margin: auto;
        width: 70%;
    }




    .resto {
        margin: auto;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &>h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

        .card {
            display: flex;
            width: 49%;
            margin: 0 0 45px 0;

            .new {
                left: 65%;
                transform: scale(1.1) translateX(0px);
            }
        }
    }



    /*  menus */


    .header_carte {
        h1 {
            width: 100%;
            text-align: center;
            padding-left: 20%;
        }
    }


    .carte {
        margin: auto;
        width: 70%;
    }

    .container_carte {
        h1 {
            width: 100%;
            text-align: center;
        }

        .barre_verte {
            margin: auto auto 50px auto;
        }
    }


    .container_plat {
        margin: auto;
        margin-bottom: 25px;
        width: 90%;

        a {

            h3 {
                height: 10px;
                font-size: 1em;
            }

            p {
                height: 10px;
                font-size: 0.8em;
            }
        }

    }




    .fonct-choice {
        width: 60%;
    }

    figure {
        .new {
            transform: translateX(100px);
        }
    }


    footer {
        h1 {
            text-align: center;
            font-size: 2em;
            margin-bottom: 60px;
        }

        .bloc-footer {
            text-align: center;

            a {
                transition: all 400ms ease-in-out;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }

}


@media screen and (min-width: 1280px) {


    .container-fonct {
        h1 {
            margin-bottom: 20px;
            padding: 20px;
        }
    }

    .fonct-choice {
        width: 20%;

    }


    .resto {
        width: 50%;
    }




    /* menus */

    .carte {
        width: 40%;
    }

    .container_plat {
        width: 50%;
    }
}