body {
    margin: 0;
}


.wrapper {
    font-family: $police-default;
    width: 100%;
    margin: 0;
}


section {
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
}

header h1 {
    font-family: $police-titre;
    font-size: 29px;
    text-align: center;

    @include tablet{
    font-size: 45px;
    padding-left: 10px;
    }
}