footer {
    background-color: rgb(53, 52, 52);
    color: white;
    padding: 25px;
    margin: 0;

    h1 {
        color: white;
        font-family: $police-titre;
        font-weight: normal;
        height: 0px;
        font-size: 1.5em;
    }

    a {
        text-decoration: none;
        color: white;
        height: 35px;
    }

    p{
        text-align: start;
        width: fit-content;
    }

    i {
        margin-right: 20px;
        width: 6px;
    }

    @include tablet {
        h1 {
            text-align: center;
            font-size: 45px;
            margin-bottom: 60px;
        }

        p{
            text-align: center;
            width: 100%;
        }

        i{
            width: 20px;
        }

        .bloc-footer {
            text-align: center;
            font-size: 25px;
            line-height: 30px;
            a {
                transition: all 400ms ease-in-out;

                &:hover {
                    color: $color-secondary;
                }
            }
        }
    }
}

.bloc-footer {
    display: flex;
    flex-direction: column;
}