@keyframes loading {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        transform: rotate(540deg);
    }

    100% {
        transform: rotate(720deg);
    }

}


@keyframes appear {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes anim_haut {
    0% {
        opacity: 0.1;
        transform: translateY(100px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}




@keyframes shake{
    0% {
        transform: rotate($shake);
    }

    20% {
        transform: rotate(-$shake);
    }

    40% {
        transform: rotate($shake);
    }

    60% {
        transform: rotate(-$shake);
    }

    80%{
        transform: rotate($shake);
    }

    100% {
        transform: rotate(0deg);
    }
}