
$police-titre: 'Shrikhand', cursive;
$police-default: 'Roboto', sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$border: 1px solid black;
$green: #99e2d0;
$transition: all 400ms ease-in-out;
$radius: 20px;